* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid rgb(43, 43, 74);
}
.content {
  max-width: 900px;
  margin: 0 auto;
}
imagecontainer,
img {
  border-radius: 150px;
  overflow: hidden;
  height: 300px;
  width: auto;
}
.top {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: flex-end;
}
.top h1 {
  font-size: 50px;
  font-weight: bold;
}
.top h4 {
  text-align: right;
}
.about {
  margin-top: 50px;
}
.about p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}
.about h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.bio {
  margin: 40px 0;
}
.bio h3 {
  margin-bottom: 20px;
  font-size: 30px;
}
.bio ul {
  margin-left: 50px;
}
.bio li {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}
.foot p {
  margin: 40px 0;
  text-align: right;
  font-size: 20px;
}
